<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78112068436-gcarb4co86gmqsmo473itobsi7ghrhmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78112068436-gcarb4co86gmqsmo473itobsi7ghrhmq</string>
	<key>API_KEY</key>
	<string>AIzaSyBGlWYS-gR3MOKNSJ7zau7RsECnmj510wc</string>
	<key>GCM_SENDER_ID</key>
	<string>78112068436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-rn-ca339</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-rn-ca339.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78112068436:ios:5f1721c5e2c3eb6e2baec1</string>
</dict>
</plist>